c* {
  font-family:'Times New Roman', Times, serif;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
  margin-top: 0;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

h1, h2, h3 {
  margin: 10px;
}


p, label {
  margin: 10px;
  font-size: larger;
}

li {
  font-size: larger;
  margin: 20px 0;
}

h1 {
  text-align-last: center;
  border: 2px solid rgb(9, 9, 9);
}

h2 {
  font-size:xx-large;
}

h3 {
  font-weight: lighter;
  font-size: x-large;
  color: grey;
}

#plasticWaste {
  margin-top: 2%;
}

#intro, #plasticOp, #plasticWaste {
  padding: 10px;

}

#sbar {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#bar {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#treatedVsGen {
  width: 97%;
  height: 700px;
  background: white;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
}

#intro {
  width: 97%;
  height: 150px;
  margin: auto;
  padding: 20px;
}

#plasticGap {
  width: 97%;
  height: 650px;
  background: white;
  margin: auto;
  padding: 10px;

}

#lineDesc {
  width: 25%;
  height: 500px;
  float: right;
  margin-top: 2%;
}

#line {
  background-color: white;
  padding-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
  width: 75%;
}

#plasticPerCap {
  width: 97%;
  height: 700px;
  background: white;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
}

#barDesc {
  width: 25%;
  height: 500px;
  float: left;
  margin-top: 3%;
}

#bar1 {
  float: right;
  width: 75%;
}

#bar2Desc {
  width: 25%;
  height: 500px;
  float: right;
  margin-top: 3%;
}

#bar2 {
  float: left;
  width: 75%;
}


#donutDesc {
  width: 35%;
  height: 500px;
  float: left;
  margin-top: 3%;
}

#donut {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  float: right;
  margin-top: 3%;
  margin-right: 3%;
}

#plasticOp{
  width: 97%;
  height: 600px;
  background: white;
  margin: auto;
  padding: 10px;
  margin-top: 8%;
}

.tooltip {
  position: absolute;
  pointer-events: none; 
}

.tooltipDonut {
  position: absolute;
  pointer-events: none; 
}

.tooltipSBar {
  position: absolute;
  pointer-events: none; 
}

.tooltipLine {
  display: inline;
  position: fixed;
}

.country-name {
  font-size: 40px;
  fill: #333;
}

button {
  background-color: #acacac; 
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #04AA6D;
}

.info1 {
  display: inline-block;
  border-bottom: 2px dotted black;
}

.info1 .infotext1 {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.info1:hover .infotext1 {
  visibility: visible;
}

.info {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black;
}

.info .infotext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.info:hover .infotext {
  visibility: visible;
}

#line {
  margin-top: 2%;
}

#container {
  margin-left: 34%;
}

.container {
  width: 700px;
  margin-left: -50%;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    background-color: #04AA6D;
    color: #fff;
    bottom: 0;
    width: 100%; 
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.home {
  background: black;
  display: block;
  position: absolute;
  left:0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:not(.active):hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}


/*About page*/
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 6px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card:hover {
  transform: translateY(-5px);
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.containerUs {
  padding: 0 16px;
}

.containerUs::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/*data used page*/
#datasets {
  height: 100vh;
}

#data {
  height: 35%;
  padding: 5%;
  padding-top: 0;
}

#tools {
  height: 100%;
  padding: 5%;
  padding-top: 0;
}

#tool {
  float: left;
  width: 33%;
  padding: 5px;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 0.3%;
}

#toolIcon {
  float:left;
  width: 80%;
}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  .logo {
      float: none;
      margin: auto;
      margin-left: -20%;
      display:block;
  }
  h1 {
    text-align: center;
    width: 100%;
    border: 2px solid black;
}

h1, h2, p {
  margin: 5px;
    }

label {
  margin: 5px;
}

#donut {
  width: 100%;
}

#sbar {
  width: 100%;
}

#bar2, #bar1 {
  width: 100%;
}

#plasticGap {
  width: 100%;
  margin-top: 60%;
}

 #plasticPerCap {
  width: 100%;
  margin-top: 10%;
 }

 #treatedVsGen {
   width: 100%;
   margin-top: 10%;
 }

#plasticOp {
  width: 100%;
  margin-top: 110%;
}

#lineDesc, #barDesc {
  width: 100%;
  height: 45%;
}

#bar2Desc {
  width: 100%;
  height: 90%;
}

#donutDesc {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 50;
}

}
